@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/FontsFree-Net-coolvetica-crammed-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}